# ======================
# Python / Django
# ======================
backend/venv/
backend/.env
backend/__pycache__/
*.py[cod]
*.sqlite3
backend/media/

# ======================
# React / Vite
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log